version: '3'

services:
  spark-master:
    build:
      context: ./master
      dockerfile: Dockerfile
    environment:
      - raven=raven
    ports:
      - "6066:6066"
      - "7077:7077"   # SPARK_MASTER_PORT
      - "8080:8080"   # SPARK_MASTER_WEBUI_PORT
      - "50070:50070"  # Hadoop Namenode Web
      - "9000:9000"    # Hadoop Web
      - "8088:8088"    # Hadoop ResourceMaster Web
    expose:
      - 7077
      - 9000
      - 50090
      - 10020
      - 19888

  spark-worker1:
    build:
      context: ./worker
      dockerfile: Dockerfile
    ports:
      - "80001:8081"
    links:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077

  spark-worker2:
    build:
      context: ./worker
      dockerfile: Dockerfile
    ports:
      - "80002:8081"
    links:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077




